.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #111f30;
    color: #ffffff;
}
.footer__title{
    width: 70%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0364d8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer__body{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 25%;
}
.column__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.column__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
}
.footer__devider{
    margin-top: 40px;
    width: 70%;
    height: 0.1rem;
    background-color: #2f4157;
}
.footer__end{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.footer__watermark{
    width: 100%;
    background-color: #1c2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}