services:
    qdrant:
        image: qdrant/qdrant:latest
        container_name: qdrant
        ports:
            - "6333:6333"
            - "6334:6334"
        volumes:
            - qdrant_storage:/qdrant/storage
        networks:
            - qdrant_network
volumes:
  qdrant_storage:

networks:
  qdrant_network: