.brandslider {
  margin-top: 150px;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background: #fff;
}

.brandslider__track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: slide 20s linear infinite;
}

.track__item img {
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: 0.3s;
}

.track__item img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
